.video-bg {
  position: relative;
  width: 100%;
  min-height: 100dvh;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Segoe UI", sans-serif;
}

.bg-video {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center center;

  z-index: -2;
}

.bg-video::-webkit-media-controls,
.bg-video::-webkit-media-controls-overlay-play-button,
.bg-video::-webkit-media-controls-panel {
  display: none !important;
}

video {
  pointer-events: none;
}

.weather-card {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(255, 255, 255, 0.25);
  border-radius: 22px;
  padding: 30px;
  width: 420px;
  max-width: 92%;

  text-align: center;
  color: #000;

  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 22px;
  width: 100%;
}

.search input {
  flex: 1;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
}

.search > input:focus-visible {
  box-shadow: 0 0 0 3px oklch(43.9% 0 0);
}

.search button {
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.search > button {
  outline: none;
}

.search > button:focus-visible {
  box-shadow: 0 0 0 3px oklch(43.9% 0 0);
}

.forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.day {
  background: rgba(255, 255, 255, 0.32);
  border-radius: 18px;
  padding: 16px;
  width: 115px;
  box-shadow: 0 0 0 1px oklch(14.5% 0 0);
}

.day img {
  width: 60px;
}

.day p {
  text-transform: capitalize;
}

.info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info > .loader {
  width: 25px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #141414;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.error {
  margin-top: 10px;
  color: #000000;
}

@media (max-width: 600px) {
  .video-bg {
    align-items: center;
    padding: 0;
  }

  .bg-video {
    object-position: center top;
  }

  .weather-card {
    width: 87%;
    margin: 16px auto;
    padding: 18px;

    border-radius: 22px;
    background: rgba(255, 255, 255, 0.28);
  }

  .search {
    margin-top: 8px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search input,
  .search button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 14px;
  }

  .forecast {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .day {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .wrapper1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1px;
  }

  .wrapper2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 1px;
  }

  .day img {
    width: 70px;
  }

  .day h3 {
    font-size: 18px;
  }

  .day p {
    font-size: 15px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .weather-card {
    width: 420px;
  }

  .day {
    width: 100px;
  }
}
